// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import './bootstrap.min.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.calendar-view {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  max-width: calc(100vw - 10vw);
  margin: 0 auto;
}

.fc-today {
  background: rgba(111, 151, 190, 0.5) !important;
} 
