.contact-card {
  margin: 10px;
  max-width: 375px;
}

.card-divider {
  margin: 10px 0 !important;
}

.icons {
  margin: 0 8px 0 0;
}

.contact-info {
  margin-bottom: 10px !important;
}

.contact-link {
  color: white !important;
}

.contact-link :hover {
  color: white !important;
}
