.side-drawer > .MuiPaper-root {
  color: white;
  background-color: #282c34;
}

.drawer-list-item {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
}
.drawer-icon {
  color: white !important;
}

.side-list {
  min-width: 200px;
  width: 20vw;
}

.right {
  margin-left: auto;
  order: 2;
}
