.list {
  width: 100%;
  max-width: 500px;
  background-color: #424242;
}

.list-link {
  color: white !important;
}

.list-link :hover {
  color: white !important;
}

a :hover {
  color: white !important;
}