.classes-grid-container {
  margin: 30px 0px !important;
  width: 100% !important;
  max-width: 100vw !important;
}

.class-card-grid {
  width: 100% !important;
}

.paper-card {
  width: 250px;
  height: 200px;
  padding: 20px;
}

.class-card-divider {
  margin: 10px 0 !important;
}
